{% comment %} Entry Point For Custom Vue Mini Cart {% endcomment %}

<style>
  .drawer {
    visibility: hidden;
  }
</style>

<!-- Mini Cart -->
<div class="fixed z-[101] top-0 right-0" id="mini-cart">
  <mini-cart></mini-cart>
</div>
