<div class="sizing-nav"><ul><li><a href="#find-your-size">Find Your Bra Size</a></li><li><a href="#bra-style-guide">Bra Style Guide</a></li><li><a href="#we-support-you">Get Support</a></li><li><a href="#we-support-you">Schedule a Fitting</a></li><li><a href="/search?type=article&view=faq&q=sister+sizing#results">Sister Sizing</a></li></ul></div><style>.sizing-nav {
  background: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sizing-nav ul {
  text-align: center;
}

.sizing-nav ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.75rem;
  display: inline-block;
}

.sizing-nav ul li:last-child {
  margin-right: 0px;
}

.sizing-nav ul li a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  display: block;
  text-transform: capitalize;
}

.sizing-nav ul li a:hover {
  text-decoration: underline;
}

#find-your-size ol,
#find-your-size .image-with-text__text rte.body ol,
#size-guid-bust-section ol,
#size-guid-bust-section .image-with-text__text rte.body ol {
  list-style: auto;
}

#find-your-size .grid__item .image-with-text__content,
.grid__item .image-with-text__content {
  text-align: center;
  padding: 40px 20px;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

#find-your-size li,
#find-your-size p,
#size-guid-bust-section li,
#size-guid-bust-section p {
  margin-bottom: 13.6px;
  line-height: 1.7;
}

.image-with-text__heading,
#find-your-size .image-with-text__heading {
  width: 100%;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
}

#section-find-your-bra-size .image-with-text__heading {
  display: flex;
  justify-content: center;
}

#section-find-your-bra-size .image-with-text__content {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#section-find-your-bra-size .image-with-text__text p {
  color: #000;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.7;
}

#find-your-size .image-with-text__text,
#size-guid-bust-section .image-with-text__text {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
 #bra-style-guide .row:first-child{
    border-top: 1px solid #ececec;
    padding-top:50px;
}

  #we-support-you .rich-text__wrapper{
    border-top: 1px solid #ececec;
    padding-top:50px;
}
  #size-guid-bust-section .image-with-text__text strong{
    color:#000;
  }
@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .sizing-nav ul li {
    font-size: 0.8rem;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .sizing-nav ul li a {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .sizing-nav ul li {
    font-size: 14.4px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 639px) {
  .sizing-nav {
    display: none;
  }

  #find-your-size .grid__item .image-with-text__content,
  .grid__item .image-with-text__content {
    border-bottom: 1px solid #ececec;
    padding: 15px;
    text-align: left;
  }

  #find-your-size .image-with-text__heading {
    width: 100%;
    text-align: center;
  }

  #find-your-size li,
  #find-your-size p {
    margin-bottom: 15px;
    line-height: 1.7;
  }

  #section-find-your-bra-size .image-with-text__heading {
    display: flex;
    justify-content: flex-start;
  }
  #section-find-your-bra-size .image-with-text__content{
    padding-bottom:30px;
  }
   #bra-style-guide,
   #we-support-you{
        margin: 10px;
   }
}
  

</style>