{{ 'main-careers.css' | asset_url | stylesheet_tag }}

<article role="article" itemscope itemtype="http://schema.org/Article">
  <div class="row align-center career-article">
    <div class="large-8 medium-10 small-12 columns">
      <h1 class="top-margin-small center">{{ article.title }}</h1>
      <div class="center"><a href="/pages/careers" class="learn-more">Back to careers</a></div>
      <hr>
      <div class="rte" itemprop="articleBody">{{ article.content }}</div>
      <!-- rte -->
      <p class="top-margin-small career-description">{{ section.settings.page_description }}</p>
    </div>
  </div>
</article>
{% schema %}
{
  "name": "article careers",
  "settings": [
    {
       "type":"color",
       "id":"text_color",
       "default":"#000000",
       "label":"Heading Text Color"
    },
  {
    "type": "textarea",
    "id": "page_description",
    "label": "Page Description",
    "default": "We're always looking for amazing, hard working, talented people to join our team. For general inquiries, please send your resume and cover letter to <a href='mailto:talent@fleurdumal.com'>talent@fleurdumal.com</a> to inquire about open positions."
  }
  ]
}
{% endschema %}
