<div class="container m-auto py-10">
  <p class="text-3xl text-ink text-center">{{ section.settings.tittle }}</p>
  <div class="min-h-[266px]">
    <product-slider
      vue
      :shopify-data="{ collectionHandle: '{{ section.settings.collectionHandle }}' }">
    </product-slider>
  </div>
</div>


{% schema %}
{
  "name": "Product Slider",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "collectionHandle",
      "label": "Collection Handle",
      "default": "homepage-slider"
    },
    {
      "type": "text",
      "id": "tittle",
      "label": "Tittle",
      "default": "Product Slider"
    }
  ],
  "presets": [
    {
      "name": "Product Slider"
    }
  ]
}
{% endschema %}
