var checkoutSteps = (callback) => {
    document.addEventListener("page:load", callback);
    document.addEventListener("page:change", callback);
}
checkoutSteps(() => {
    let iconsPayment = document.createElement('div');
    iconsPayment.classList.add('payment_infos_icons-wrapper');
    let img = document.createElement("img");
    img.setAttribute('alt', "Guaranteed SAFE Checkout");
    img.src = '//cdn.shopify.com/s/files/1/1312/6537/t/114/assets/logo-vogue-checkout_86x.png?v=4196701015534887903';
    img.setAttribute('srcset', "//cdn.shopify.com/s/files/1/1312/6537/t/114/assets/logo-vogue-checkout_86x.png?v=4196701015534887903 1, //cdn.shopify.com/s/files/1/1312/6537/t/114/assets/logo-vogue-checkout_172x.png?v=4196701015534887903 2x");
    iconsPayment.innerHTML = `

    <div class="payment_infos_icons">
      <div class="payment_infos_icons__content">
        <div class="payment_infos">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_656_111)">
        <path d="M4.5711 8.26109C4.41217 8.30513 4.24721 8.31927 4.11568 8.39213C3.39337 8.79285 2.67984 9.20771 1.96192 9.61768C1.6331 9.80527 1.49336 9.72643 1.49062 9.34908C1.49062 9.00817 1.49062 8.66671 1.49062 8.29045C1.23907 8.29045 1.01383 8.2948 0.789681 8.29045C0.304126 8.27958 0.00435437 7.98759 0.00325831 7.51075C-0.000760583 5.94917 -0.000760583 4.38723 0.00325831 2.82493C0.00325831 2.35243 0.312893 2.04958 0.794612 2.04904C3.062 2.0465 5.3292 2.0465 7.59622 2.04904C8.06479 2.04904 8.36347 2.34591 8.37553 2.81025C8.38101 2.99947 8.37553 3.19086 8.37553 3.37899V4.01134C8.48514 3.91238 8.55638 3.85311 8.62159 3.78841C9.76186 2.65855 10.9014 1.52833 12.0402 0.397744C12.3192 0.119901 12.643 -0.0448475 13.0426 0.0171371C13.4848 0.0845589 13.7945 0.332497 13.9358 0.755515C14.0772 1.17853 13.977 1.55968 13.6618 1.87559C12.9311 2.60635 12.1975 3.3344 11.4609 4.05973C11.3902 4.12933 11.3069 4.18642 11.2291 4.24949L11.2554 4.32942H12.0462C12.7395 4.32942 13.0036 4.59095 13.0042 5.27604C13.0042 6.74736 13.0042 8.21904 13.0042 9.69108C13.0042 10.2892 12.7236 10.5714 12.1246 10.5746C11.9344 10.5746 11.7437 10.5746 11.5037 10.5746C11.5037 10.9384 11.5037 11.2864 11.5037 11.6344C11.5037 11.723 11.5037 11.8263 11.4631 11.8964C11.3628 12.0595 11.2247 12.0079 11.0861 11.9285C10.3704 11.5164 9.65572 11.102 8.93287 10.7024C8.79195 10.6255 8.6344 10.5836 8.47362 10.5801C7.48114 10.5697 6.48866 10.5763 5.49617 10.5741C4.90211 10.5741 4.62535 10.3022 4.61932 9.71664C4.61494 9.27405 4.61549 8.83146 4.61275 8.38941C4.60256 8.34554 4.58863 8.30261 4.5711 8.26109ZM7.91738 7.07033C7.51128 7.21659 7.12437 7.36612 6.72924 7.49172C6.62347 7.52489 6.44646 7.52978 6.38947 7.46834C6.33247 7.4069 6.34727 7.23236 6.38947 7.12905C6.62073 6.54183 6.8668 5.96005 7.11286 5.37826C7.15068 5.28909 7.19836 5.18415 7.27344 5.13358C7.89052 4.72035 8.03575 4.13422 7.93984 3.44478C7.91627 3.27622 7.93984 3.10223 7.93601 2.93041C7.93601 2.56557 7.8527 2.48293 7.48771 2.48238C6.44098 2.48238 5.39424 2.48238 4.3475 2.48238C3.19116 2.48238 2.03499 2.48238 0.879011 2.48238C0.567729 2.48238 0.444419 2.5759 0.443871 2.83689C0.439486 4.38977 0.439486 5.94247 0.443871 7.49498C0.443871 7.74074 0.572115 7.8571 0.818729 7.85384C1.06534 7.85058 1.31195 7.85384 1.55638 7.85384C1.89013 7.85384 1.93452 7.89842 1.94 8.22901C1.94 8.51283 1.94 8.7972 1.94 9.1267C2.63983 8.72652 3.28048 8.35026 3.93264 7.99412C4.08982 7.90992 4.26483 7.86372 4.44341 7.85928C5.41726 7.84677 6.39165 7.85329 7.3655 7.85329C7.91025 7.85329 7.95135 7.81088 7.93929 7.26335C7.93271 7.21007 7.92505 7.15678 7.91738 7.07033ZM5.06761 8.29099C5.06761 8.79666 5.06378 9.27242 5.06761 9.74818C5.0709 10.0499 5.15584 10.1288 5.46548 10.1288C6.07599 10.1315 6.69088 10.1777 7.29535 10.119C8.3684 10.0146 9.32307 10.2544 10.1835 10.8938C10.3786 11.039 10.6055 11.1423 10.8192 11.263C10.8866 11.3011 10.9584 11.3315 11.0592 11.3804C11.0592 11.0634 11.0592 10.7823 11.0592 10.505C11.0592 10.1908 11.1234 10.1326 11.4483 10.1299C11.6939 10.1299 11.9416 10.1255 12.186 10.1299C12.4304 10.1342 12.5619 10.0119 12.5619 9.77155C12.5649 8.22665 12.5649 6.68193 12.5619 5.13739C12.5619 4.87097 12.4447 4.76331 12.1723 4.76005C11.7445 4.75497 11.3164 4.75497 10.8882 4.76005C10.8173 4.75813 10.7479 4.78039 10.6915 4.82312C10.3715 5.12815 10.0591 5.44188 9.70176 5.7953C9.85083 5.80237 9.93851 5.81052 10.0262 5.81052C10.4175 5.81052 10.8099 5.79856 11.2006 5.82248C11.2938 5.82792 11.3798 5.95461 11.4692 6.02584C11.3881 6.1066 11.3005 6.18061 11.2072 6.24713C11.1612 6.27595 11.0828 6.25366 11.0192 6.25366C10.4997 6.25366 9.97797 6.24387 9.46172 6.26127C9.33348 6.26562 9.19428 6.34011 9.08523 6.41732C8.93835 6.52063 8.83477 6.7218 8.67913 6.76748C8.37114 6.85774 8.35032 7.04913 8.37608 7.29815C8.37992 7.36135 8.37992 7.42472 8.37608 7.48791C8.36566 7.99086 8.08398 8.27794 7.58088 8.28447C7.12547 8.29045 6.66951 8.28447 6.21409 8.28447L5.06761 8.29099ZM12.7461 1.64559L8.37388 5.98234L8.55857 6.23028L12.9669 1.86308L12.7461 1.64559ZM7.95299 5.6088L12.3252 1.27314L12.1202 1.04097L7.75406 5.37337L7.95299 5.6088ZM13.3396 1.545C13.6202 1.28075 13.6295 0.884378 13.3445 0.620671C13.2844 0.560309 13.2122 0.513118 13.1325 0.482144C13.0529 0.451169 12.9676 0.437099 12.8821 0.440838C12.7967 0.444578 12.713 0.466046 12.6364 0.503856C12.5598 0.541667 12.4921 0.594982 12.4375 0.660363L13.3396 1.545ZM7.41428 5.79095C7.26357 6.1547 7.10848 6.52769 6.93092 6.95669L8.14262 6.51573L7.41428 5.79095Z" fill="black"/>
        <path d="M9.19059 8.9198C9.83672 8.9198 10.4829 8.9198 11.129 8.9198C11.2934 8.9198 11.4666 8.93013 11.4622 9.13729C11.4578 9.34445 11.2868 9.35478 11.1213 9.35478C9.82905 9.35478 8.53698 9.35478 7.24508 9.35478C7.07629 9.35478 6.91023 9.32814 6.91188 9.12696C6.91188 8.91763 7.08999 8.91491 7.25276 8.91545C7.89889 8.92089 8.54501 8.9198 9.19059 8.9198Z" fill="black"/>
        <path d="M10.2674 7.79864C9.95883 7.79864 9.6492 7.81441 9.34285 7.7894C9.24804 7.78124 9.10391 7.67522 9.08582 7.59203C9.05075 7.42891 9.18885 7.36312 9.34504 7.36312C9.96212 7.36312 10.5798 7.35279 11.1957 7.37345C11.2895 7.37345 11.3777 7.51971 11.4698 7.59801C11.3782 7.66488 11.2906 7.78178 11.1957 7.7894C10.8861 7.81441 10.5765 7.79864 10.2674 7.79864Z" fill="black"/>
        <path d="M2.31317 4.53901C2.18799 4.54062 2.06609 4.57893 1.9628 4.64911C1.85952 4.71929 1.77946 4.81821 1.7327 4.93342C1.68594 5.04864 1.67457 5.175 1.70002 5.29661C1.72547 5.41821 1.78661 5.52964 1.87574 5.61686C1.96486 5.70408 2.078 5.7632 2.20091 5.78678C2.32382 5.81036 2.45101 5.79734 2.56649 5.74937C2.68196 5.70141 2.78056 5.62062 2.84987 5.51719C2.91918 5.41376 2.95611 5.29231 2.95601 5.1681C2.95715 5.08444 2.94123 5.00141 2.90921 4.924C2.8772 4.84659 2.82975 4.7764 2.76971 4.71765C2.70967 4.65889 2.63828 4.61278 2.55983 4.58208C2.48137 4.55138 2.39747 4.53674 2.31317 4.53901ZM2.31865 5.43833C2.26445 5.43833 2.21148 5.42239 2.16642 5.39252C2.12135 5.36265 2.08623 5.32019 2.06549 5.27051C2.04475 5.22083 2.03933 5.16617 2.0499 5.11343C2.06047 5.0607 2.08657 5.01226 2.12489 4.97424C2.16321 4.93622 2.21204 4.91032 2.26519 4.89983C2.31835 4.88934 2.37344 4.89473 2.42351 4.9153C2.47358 4.93588 2.51638 4.97073 2.54649 5.01543C2.57659 5.06014 2.59267 5.1127 2.59267 5.16647C2.59373 5.20246 2.58736 5.23828 2.57397 5.27174C2.56057 5.3052 2.54043 5.33559 2.51477 5.36105C2.48911 5.38651 2.45848 5.40649 2.42475 5.41978C2.39103 5.43307 2.35492 5.43939 2.31865 5.43833Z" fill="black"/>
        <path d="M4.18041 4.53901C4.05521 4.54052 3.93325 4.57873 3.82989 4.64885C3.72653 4.71896 3.64639 4.81785 3.59955 4.93305C3.55271 5.04826 3.54126 5.17464 3.56665 5.29628C3.59204 5.41793 3.65314 5.5294 3.74224 5.61668C3.83135 5.70395 3.94448 5.76312 4.06741 5.78674C4.19033 5.81037 4.31756 5.79738 4.43306 5.74943C4.54857 5.70148 4.6472 5.62069 4.71653 5.51725C4.78586 5.41381 4.8228 5.29233 4.8227 5.1681C4.82392 5.08447 4.80808 5.00145 4.77612 4.92404C4.74417 4.84664 4.69676 4.77644 4.63677 4.71768C4.57677 4.65891 4.50541 4.61279 4.42699 4.58209C4.34856 4.55138 4.26469 4.53673 4.18041 4.53901ZM4.18589 5.43833C4.1317 5.43833 4.07872 5.42239 4.03366 5.39252C3.9886 5.36264 3.95347 5.32019 3.93273 5.27051C3.912 5.22083 3.90657 5.16617 3.91714 5.11343C3.92771 5.0607 3.95381 5.01226 3.99213 4.97424C4.03046 4.93622 4.07928 4.91032 4.13243 4.89983C4.18559 4.88934 4.24068 4.89473 4.29075 4.9153C4.34082 4.93588 4.38362 4.97073 4.41373 5.01543C4.44384 5.06014 4.45991 5.1127 4.45991 5.16647C4.46088 5.2023 4.45451 5.23795 4.44119 5.27126C4.42787 5.30457 4.40786 5.33485 4.3824 5.36027C4.35693 5.38569 4.32654 5.40571 4.29304 5.41913C4.25955 5.43255 4.22365 5.43908 4.18754 5.43833H4.18589Z" fill="black"/>
        <path d="M6.04363 4.53901C5.91846 4.54062 5.79656 4.57893 5.69327 4.64911C5.58998 4.71929 5.50992 4.81821 5.46316 4.93342C5.41641 5.04864 5.40504 5.175 5.43049 5.29661C5.45594 5.41821 5.51708 5.52964 5.60621 5.61686C5.69533 5.70408 5.80847 5.7632 5.93138 5.78678C6.05429 5.81036 6.18148 5.79734 6.29695 5.74937C6.41243 5.70141 6.51102 5.62062 6.58033 5.51719C6.64964 5.41376 6.68657 5.29231 6.68647 5.1681C6.68761 5.08444 6.6717 5.00141 6.63969 4.924C6.60767 4.84659 6.56022 4.7764 6.50018 4.71765C6.44013 4.65889 6.36874 4.61278 6.29029 4.58208C6.21184 4.55138 6.12794 4.53674 6.04363 4.53901ZM6.04911 5.43833C5.99492 5.43833 5.94194 5.42239 5.89688 5.39252C5.85182 5.36265 5.8167 5.32019 5.79596 5.27051C5.77522 5.22083 5.76979 5.16617 5.78036 5.11343C5.79094 5.0607 5.81703 5.01226 5.85536 4.97424C5.89368 4.93622 5.9425 4.91032 5.99566 4.89983C6.04881 4.88934 6.10391 4.89473 6.15398 4.9153C6.20405 4.93588 6.24684 4.97073 6.27695 5.01543C6.30706 5.06014 6.32313 5.1127 6.32313 5.16647C6.3241 5.2023 6.31773 5.23795 6.30441 5.27126C6.29109 5.30457 6.27109 5.33485 6.24562 5.36027C6.22016 5.38569 6.18976 5.40571 6.15626 5.41913C6.12277 5.43255 6.08687 5.43908 6.05076 5.43833H6.04911Z" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_656_111">
        <rect width="14" height="12" fill="white"/>
        </clipPath>
        </defs>
        </svg>
         <div>
            <p class="al-text--info">Contact us</p>
          </div>
        </div>
        <p class="al-text">Need help? Chat with us, e-mail us anytime at <a style="text-decoration:underline;" href="mailto:fleur@fleurdumal.com">fleur@fleurdumal.com</a> or call us at +1 (646) 791-3656 Monday through Friday, 10am - 6pm EST.</p>
        <div class="payment_infos">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_914_131)">
        <path d="M2.23287 6.98756C2.23287 6.20936 2.24041 5.43059 2.2294 4.65239C2.22476 4.33591 2.34533 4.13167 2.62821 3.98528C3.968 3.29098 5.30392 2.58781 6.63598 1.87577C6.74702 1.80903 6.87418 1.77377 7.00379 1.77377C7.13339 1.77377 7.26055 1.80903 7.37158 1.87577C8.70403 2.58395 10.04 3.28693 11.3794 3.98471C11.6611 4.13167 11.7805 4.34227 11.7793 4.65471C11.7735 6.21148 11.7735 7.76865 11.7793 9.32619C11.7793 9.65194 11.6535 9.8637 11.362 10.0147C10.0311 10.7059 8.70364 11.4047 7.37969 12.1109C7.11479 12.2521 6.88292 12.2498 6.6186 12.1109C5.3047 11.4097 3.98558 10.7154 2.66124 10.028C2.36098 9.87296 2.22186 9.66524 2.22824 9.32214C2.24331 8.54511 2.23287 7.76633 2.23287 6.98756ZM11.4257 4.61073C11.3341 4.64545 11.2895 4.6576 11.2518 4.67785C9.94759 5.33512 8.64336 5.99702 7.33854 6.64504C7.18203 6.72314 7.17333 6.82729 7.17333 6.96673C7.17333 8.4938 7.17333 10.0209 7.17333 11.548C7.17333 11.6197 7.18087 11.692 7.18551 11.773C7.22151 11.7709 7.25712 11.7645 7.29159 11.7539C8.61032 11.0596 9.93079 10.3729 11.242 9.66698C11.3382 9.61491 11.4159 9.4396 11.4159 9.31983C11.4362 8.84076 11.4246 8.35996 11.4246 7.87973L11.4257 4.61073ZM5.40536 6.01843C5.40536 6.6433 5.40536 7.208 5.40536 7.77327C5.40536 7.98156 5.39493 8.18407 5.15843 8.27375C4.93468 8.35822 4.79498 8.22457 4.66108 8.07819C4.61614 8.01581 4.56177 7.96077 4.49993 7.91503C4.41646 7.86816 4.31328 7.81493 4.22517 7.82535C3.831 7.87048 3.68783 7.76112 3.68667 7.37174C3.68667 6.69942 3.68666 6.02711 3.68203 5.35537C3.68203 5.27148 3.65362 5.14419 3.59566 5.11179C3.28148 4.93532 2.95397 4.78142 2.59864 4.60379C2.59227 4.73918 2.58473 4.83175 2.58473 4.92433C2.58473 6.37426 2.58936 7.82361 2.57893 9.27354C2.57893 9.50498 2.65197 9.63458 2.86122 9.74277C4.09069 10.3763 5.31262 11.0249 6.53686 11.6677C6.6186 11.7105 6.70207 11.7493 6.81858 11.8072C6.81858 10.1293 6.81858 8.49824 6.81452 6.86721C6.81304 6.83198 6.80375 6.79751 6.78731 6.76629C6.77087 6.73508 6.7477 6.70789 6.71946 6.68669C6.30558 6.4651 5.88474 6.25796 5.40536 6.01843ZM5.04539 7.878C5.04539 7.30578 5.05931 6.73356 5.04076 6.16134C5.02859 5.77889 5.16944 5.5411 5.52245 5.3681C6.73975 4.77274 7.94428 4.15307 9.15288 3.54035C9.24157 3.49522 9.32678 3.44546 9.45431 3.37777C9.14245 3.21287 8.87465 3.06244 8.59873 2.93226C8.51886 2.90992 8.43342 2.91947 8.36048 2.95888C6.97741 3.65318 5.59646 4.35095 4.21763 5.05219C4.13822 5.09269 4.04374 5.2032 4.04374 5.28363C4.0304 6.01206 4.03562 6.7405 4.03562 7.52043C4.51848 7.27859 4.72194 7.64483 5.04539 7.878ZM11.2078 4.30061C10.7939 4.08191 10.4177 3.8956 10.0537 3.68616C9.89949 3.59821 9.78413 3.61152 9.63168 3.68963C8.39294 4.3226 7.14899 4.94631 5.90735 5.5735C5.8262 5.61458 5.74853 5.66376 5.62796 5.73261C6.03372 5.93743 6.40238 6.11447 6.76119 6.31119C6.93509 6.40492 7.07421 6.39567 7.24463 6.3083C8.30309 5.76559 9.36678 5.23213 10.4281 4.69521L11.2078 4.30061ZM8.12514 2.68058C7.78894 2.50237 7.50548 2.36351 7.2342 2.2044C7.0603 2.10373 6.92176 2.12224 6.75192 2.21192C5.51434 2.86977 4.27213 3.51837 3.03223 4.17159C2.96325 4.20804 2.90006 4.2549 2.81253 4.31103C3.00266 4.40881 3.16961 4.46898 3.30641 4.57023C3.67797 4.84506 4.00722 4.78662 4.40371 4.57486C5.61521 3.92743 6.84815 3.32628 8.12746 2.67942L8.12514 2.68058Z" fill="black"/>
        <path d="M1.23126 3.17411C1.27473 3.06129 1.29328 2.92879 1.36516 2.83853C3.19748 0.535766 5.58568 -0.437413 8.46312 0.183408C11.3881 0.814643 13.239 2.70083 13.8493 5.62789C14.6609 9.53275 12.0999 13.2016 8.15533 13.893C6.61053 14.1637 5.12717 13.9184 3.7325 13.1859C3.68149 13.1593 3.61135 13.1414 3.58701 13.0986C3.54875 13.0326 3.50702 12.9308 3.53368 12.877C3.56035 12.8232 3.67395 12.8052 3.74583 12.811C3.81771 12.8168 3.88496 12.8689 3.95336 12.9071C8.06026 15.0038 12.992 12.4135 13.5868 7.84676C14.0632 4.18953 11.438 0.807122 7.78666 0.417156C5.25528 0.146379 3.20733 1.05765 1.64224 3.05319C1.52631 3.20477 1.42081 3.32686 1.22778 3.1689L1.23126 3.17411Z" fill="black"/>
        <path d="M1.22767 3.16659C1.18883 3.39223 1.36099 3.30313 1.44446 3.29445C1.6827 3.27015 1.91805 3.20767 2.15687 3.19436C2.24208 3.18915 2.33076 3.28115 2.42119 3.32917C2.35395 3.3957 2.29598 3.50274 2.21773 3.52184C1.95532 3.58086 1.68953 3.62375 1.42185 3.65028C1.07754 3.68615 0.900161 3.55134 0.830022 3.20882C0.773393 2.95635 0.733307 2.70046 0.710028 2.44278C0.703651 2.35599 0.796981 2.26284 0.844513 2.172C0.911754 2.23854 1.01493 2.2935 1.0387 2.37277C1.11811 2.63487 1.16854 2.90507 1.23056 3.17353C1.22975 3.17115 1.22879 3.16884 1.22767 3.16659Z" fill="black"/>
        <path d="M1.93029 11.3038C2.10419 11.5173 2.31229 11.7129 2.43633 11.9518C2.48966 12.0536 2.30765 12.1676 2.18012 12.0641C2.01659 11.9335 1.87186 11.781 1.75002 11.611C1.71176 11.5572 1.78364 11.4247 1.80798 11.3281L1.93029 11.3038Z" fill="black"/>
        <path d="M1.72808 11.0608C1.6533 11.1395 1.61736 11.2078 1.56635 11.2222C1.53607 11.2291 1.50459 11.2289 1.4744 11.2216C1.44422 11.2143 1.41616 11.2 1.39245 11.18C1.26392 11.0165 1.14767 10.8438 1.04465 10.6633C1.01915 10.6176 1.05393 10.5198 1.08987 10.4643C1.11016 10.4336 1.22087 10.4157 1.23826 10.4359C1.40172 10.6344 1.55766 10.8415 1.72808 11.0608Z" fill="black"/>
        <path d="M0.617952 9.32909C0.733885 9.42803 0.797071 9.45985 0.824315 9.51134C0.913185 9.67072 0.9873 9.83785 1.04574 10.0107C1.06545 10.0755 0.996474 10.1675 0.968071 10.2473C0.895033 10.2207 0.786054 10.2155 0.754752 10.164C0.654573 10.0009 0.575131 9.82596 0.518252 9.64326C0.496805 9.56862 0.569841 9.46795 0.617952 9.32909Z" fill="black"/>
        <path d="M3.37542 12.73C3.27456 12.7578 3.15863 12.8307 3.10066 12.7983C2.91982 12.6938 2.75075 12.5703 2.59636 12.4297C2.5765 12.4012 2.56427 12.3682 2.56082 12.3336C2.55737 12.2991 2.56282 12.2643 2.57665 12.2324C2.60621 12.185 2.72562 12.1364 2.76156 12.1589C2.95343 12.2793 3.1337 12.4199 3.3134 12.5587C3.33832 12.5749 3.33948 12.6235 3.37542 12.73Z" fill="black"/>
        <path d="M0.396395 7.89536L0.246838 8.06893C0.178438 7.99487 0.072938 7.93123 0.0497515 7.84502C0.00713231 7.68794 -0.00854247 7.52479 0.00338281 7.36248C0.00802011 7.29247 0.102505 7.22883 0.155834 7.16229C0.217858 7.22015 0.315817 7.26933 0.333207 7.33587C0.373204 7.49498 0.373209 7.66103 0.396395 7.89536Z" fill="black"/>
        <path d="M0.648111 9.02996C0.614491 9.07278 0.575656 9.16651 0.526964 9.17229C0.459143 9.17981 0.33799 9.13816 0.31944 9.08782C0.248801 8.89169 0.196413 8.68949 0.162934 8.48378C0.154819 8.4346 0.233653 8.32582 0.278867 8.32351C0.346687 8.32004 0.45914 8.36748 0.480008 8.42129C0.5462 8.62125 0.602306 8.82439 0.648111 9.02996Z" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_914_131">
        <rect width="14" height="14" fill="white"/>
        </clipPath>
        </defs>
        </svg>
          <div>
            <p class="al-text--info">RETURNS</p>
          </div>
        </div>
        <p class="al-text">We accept returns within 30 days of shipping for all unused items with tags. Full priced items are returnable for refund or store credit. Sale items are returnable for store credit only. Final sale items are final sale and are not returnable.</p>
    </div>
    <div class="payment_info_credibility">
    <div class="payment_info_credibility-body">
    “The line seeks to create pieces that are stylish and wearable, feminine, powerful, and sexy”
    </div>
    ${img.outerHTML}
    </div>
  `
    console.log('step', Shopify.Checkout.step, 'page', Shopify.Checkout.page, 'OrderStatus', Shopify.Checkout.OrderStatus);
    let progressBar = 0;
    switch (Shopify.Checkout.step) {
        case "contact_information":
            if(!document.querySelector('.payment_infos_icons-wrapper')){
                document.querySelector('#order-summary').appendChild(iconsPayment);
            }
            progressBar = 33.33;
            break;
        case "shipping_method":
            progressBar = 66.66;
            if(!document.querySelector('.payment_infos_icons-wrapper')){
                document.querySelector('#order-summary').appendChild(iconsPayment);
            }
            break;
        case "payment_method":
            progressBar = 100;
            if(!document.querySelector('.payment_infos_icons-wrapper')){
                document.querySelector('#order-summary').appendChild(iconsPayment);
            }
            break;
        case "processing":
            progressBar = 100;
            break;
        case "stock_problems":
            break;
        default:
    }
    if (progressBar >= 0) {
        if (document.querySelector('.steps .step-1') != null) {
            document.querySelector('.steps .step-1').classList.add('active');
        }
    }
    if (progressBar >= 33.33) {
        if (document.querySelector('.steps .step-2') != null) {
            document.querySelector('.steps .step-2').classList.add('active');
        }
    }
    if (progressBar >= 66.66) {
        if (document.querySelector('.steps .step-3') != null) {
            document.querySelector('.steps .step-3').classList.add('active');
        }
    }
    if (progressBar >= 99.99) {
        if (document.querySelector('.steps .step-4') != null) {
            document.querySelector('.steps .step-4').classList.add('active');
        }
    }
    if (document.querySelector('.progress-steps .progress-bar') != null) {
        document.querySelector('.progress-steps .progress-bar').style.width = progressBar + "%";
        document.querySelector('.progress-steps .progress-bar').setAttribute('aria-valuenow', progressBar);
        document.querySelector('.progress-steps .progress-bar span').innerHTML = progressBar + "% Complete";
    }
});
