.collection_product_section .collection__title .title:not(:only-child) {
    margin-bottom: 0;
}
.collection_product_section .collection__title h2 {
    line-height: 1.4;
}
.collection_product_section .collection__title .rte h3 {
    line-height: 1.7;
}
@media screen and (min-width: 990px) {
  .collection_product_section .grid--5-col-desktop .grid__item,
  .collection_product_section .grid--2-col-desktop .grid__item,
  .collection_product_section .grid--3-col-desktop .grid__item,
  .collection_product_section .grid--4-col-desktop .grid__item {
      padding: 0 8px;
  }
  .collection_product_section .grid--2-col-desktop .grid__item {
      width: 50%;
      max-width: 50%;
  }
  .collection_product_section .grid--3-col-desktop .grid__item {
      width: 33.33%;
      max-width: 33.33%;
  }
  .collection_product_section .grid--4-col-desktop .grid__item {
      width: 25%;
      max-width: 25%;
  }
  .collection_product_section .grid--5-col-desktop .grid__item {
      width: 20%;
      max-width: 20%;
  }
  .collection_product_section .page-width {
    padding: 0;
  }
}
@media screen and (max-width: 749px) {
  .collection_product_section .grid--1-col-tablet-down .grid__item,
  .collection_product_section .grid--2-col-tablet-down .grid__item {
      padding: 0 8px;
  }
  .collection_product_section .grid--2-col-tablet-down .grid__item {
    width: 50%;
    max-width: 50%;
  }
}
.collection_product_section .collection__title h2.title {
    padding: 0px 10px 0px 10px !important;
}