.no-js:not(html),
.no-js-facets {
  display: none !important;
}
html.no-js .no-js:not(html),
html.no-js .no-js-facets {
  display: block !important;
}
.facets-wrapper.page-width {
  position: relative;
  padding: 0 0.5rem;
}
@media screen and (min-width: 750px) {
  .disclosure-has-popup[open]>summary+* {
    z-index: 4;
  }

  .facets .disclosure-has-popup[open]>summary+* {
    z-index: 2;
  }
}
.facets-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  /* padding: 0 0 1em; */
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.active-facets-mobile {
  margin-bottom: 0.5em;
}
.mobile--filter-btns {
  width: 60%;
  margin: auto;
}
.mobile--filter-btns .mobile-facets__clear-wrapper {
  justify-content: flex-end;
}
.mobile-facets__details-price_range .mobile--filter-btns .mobile-facets__clear-wrapper {
  margin-right: 11px;
}
.mobile--filter-btns a {
  font-size: 1.2em !important;
  font-weight: 400;
  line-height: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000 !important;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  background: none !important;
  text-align: center;
}
.mobile--filter-btns a {
  font-size: 1.2em !important;
}

/*.mobile-facets__list {
  overflow-y: auto;
}*/

@media screen and (min-width: 750px) {
  .facets-container {
    padding: 1em 0;
  }
  .facets-container > * + * {
    margin-top: 0;
  }

  .facets__form .product-count {
    grid-column-start: 3;
    align-self: flex-start;
  }
}

@media screen and (max-width: 989px) {
  .facets-container {
    grid-template-columns: auto minmax(0, max-content);
    column-gap: 2em;
  }
}

.facet-filters {
  align-items: flex-start;
  display: flex;
  grid-column: 2;
  grid-row: 1;
  padding-left: 2.5em;
}

@media screen and (min-width: 990px) {
  .facet-filters {
    padding-left: 3em;
  }
}

.facet-filters__label {
  /*display: block;*/
  color: var(--color-foreground-85);
  font-size: 1.4em;
  margin: 0 2em 0 0;
}

.facet-filters__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4em;
  cursor: pointer;
  height: 4.5em;
  padding: 0 1.5em;
  min-width: 25em;
  margin-top: 2.4em;
  border: 0.1em solid rgba(var(--color-foreground), 0.55);
}

.facet-filters__summary::after {
  position: static;
}

.facet-filters__field {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.facet-filters__field .select {
  display: flex;
  position: relative;
  width: auto;
}

.facet-filters__field .select:after,
.facet-filters__field .select:before,
.mobile-facets__sort .select:after,
.mobile-facets__sort .select:before {
  content: none;
}

.facet-filters__field .select__select,
.mobile-facets__sort .select__select {
  border-radius: 0;
  min-width: auto;
  min-height: auto;
  transition: none;
}

.facet-filters button {
  margin-left: 2.5em;
}

.facet-filters__sort {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-size: 1.4em;
  height: auto;
  line-height: 1;
  margin: 0;
  padding-left: 0;
  padding-right: 1.75em;
}

.facet-filters__sort + .icon-caret {
  right: 0;
}

@media screen and (forced-colors: active) {
  .facet-filters__sort {
    border: none;
  }
}

.facet-filters__sort,
.facet-filters__sort:hover {
  box-shadow: none;
  filter: none;
  transition: none;
}

.mobile-facets__sort .select__select:focus-visible {
  outline: 0.2em solid rgba(var(--color-foreground), 0.5);
  outline-offset: 0.3em;
  box-shadow: 0 0 0 0.3em rgb(var(--color-background)), 0 0 0.5em 0.4em rgba(var(--color-foreground), 0.3);
}

.mobile-facets__sort .select__select.focused,
.no-js .mobile-facets__sort .select__select:focus {
  outline: 0.2em solid rgba(var(--color-foreground), 0.5);
  outline-offset: 0.3em;
  box-shadow: 0 0 0 0.3em rgb(var(--color-background)), 0 0 0.5em 0.4em rgba(var(--color-foreground), 0.3);
}

/*.facet-filters__sort:focus-visible {
  outline: 0.2em solid rgba(var(--color-foreground), 0.5);
  outline-offset: 1em;
  box-shadow: 0 0 0 1em rgb(var(--color-background)),
    0 0 0.2em 1.2em rgba(var(--color-foreground), 0.3);
}

.facet-filters__sort.focused,
.no-js .facet-filters__sort:focus {
  outline: 0.2em solid rgba(var(--color-foreground), 0.5);
  outline-offset: 1em;
  box-shadow: 0 0 0 1em rgb(var(--color-background)),
    0 0 0.2em 1.2em rgba(var(--color-foreground), 0.3);
}*/

.no-js .facet-filters__sort:focus:not(:focus-visible),
.no-js .mobile-facets__sort .select__select:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.facets {
  display: block;
  grid-column-start: span 2;
}

.facets__form {
  display: grid;
  gap: 0 1.5em;
  grid-template-columns: 1fr max-content max-content;
  margin-bottom: 0.5em;
}

.facets__wrapper {
  align-items: center;
  align-self: flex-start;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
}

.facets__heading {
  /*display: block;*/
  color: rgba(var(--color-foreground), 0.85);
  font-size: 1.4em;
  margin: -1.5em 2em 0 0;
}

.facets__reset {
  font-weight: 400;
  margin-left: auto;
  color: #000000;
  /*letter-spacing: 1px;*/
  /*text-transform: uppercase;*/
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

.facets__disclosure {
  margin-right: 3.5em;
}
.facets__form > .facets__disclosure {
  margin-right: 0;
}

.facets__summary {
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  padding: 0 1.75em 0 0;
  margin-bottom: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  outline: none !important;
}

.facets__disclosure fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.facets__disclosure[open] .facets__summary,
.facets__summary:hover {
  color: rgb(var(--color-foreground));
}

.facets__disclosure[open] .facets__display,
.facets__disclosure-vertical[open] .facets__display-vertical {
  animation: animateMenuOpen var(--duration-default) ease;
}

.facets__summary span {
  transition: text-decoration var(--duration-short) ease;
}

.facets__summary:hover span {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.disclosure-has-popup[open] > .facets__summary::before {
  z-index: 2;
}

.facets__summary > span {
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.facets__summary .icon-caret {
  right: 0;
}
.parent-display.facets__display:not(.view-filter) {
  box-shadow: 0 4px 4px #00000040;
  margin-top: 5px;
  /* width: 101%; */
  width: 100vw;
  transform: translate(-4px, 0);
}
.facets__display {
  border-width: var(--popup-border-width);
  border-style: solid;
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-radius: var(--popup-corner-radius);

  background-color: rgb(var(--color-background));
  position: absolute;
  /*top: calc(100% + 0.5em);*/
  /*left: -0.1em;*/
  /*width: 35em;*/
  left: 0;
  width: 100%;
  max-height: 55em;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*
.disclosure-has-popup:not(:first-of-type) .facets__display {
  left: -3.5em;
}
.facets__details-size .facets__display {
  width: 51em;
}
*/
.facets__details-size .facets-wrap-container {
  display: flex;
  padding: 0.7em 2.2em 1em;
}
.facets__details-size .facets__list-wrap {
  width: 100%;
}
.facets__details-size .facets__list-wrap > div,
.mobile-facets__details-size .facets__list-wrap > div {
  font-size: 1.4em;
  line-height: 1;
  letter-spacing: 0.02em;
  padding: 0.5em 0;
  text-decoration: underline;
}
/*
.facets__details-category .facets__display,
.facets__details-type .facets__display {
  width: 63em;
}
.facets__details-color .facets__display {
  width: 66em;
}
*/
.facets__details-category .facets__display .facets__list,
.facets__details-type .facets__display .facets__list,
.facets__details-color .facets__display .facets__list {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 4em 18em 4em 10em;
}
.facets__details-category .facets__display .facets__list,
.facets__details-type .facets__display .facets__list {}
/*
.facets__details-price_range .facets__display {
  width: 40em;
}
*/
.facets__details-price_range .facets__header {
  padding: 2em 2.86em 0;
  justify-content: flex-end;
}
.facets__details-price_range .facets__list {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(5, 1fr);
  padding: 5em 4em 1em
}
.facets__details-price_range .facets__price {
  padding: 0;
}
.facets__details-price_range .facet-checkbox {
  /*font-weight: 600;*/
  line-height: 1;
  letter-spacing: 0.02em;
  align-items: center;
  padding: 0;
}
.facets__details-price_range .facet-checkbox .icon-checkmark {
  top: calc(50% - 0.4em);
  left: 0.1em;
}
.facets__details-color .mobile-facets__list {
  display: grid;
  gap: 2.3em;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5em 2em;
}
.facets__wrapper > .active-facets__button-wrapper {
  padding: 0;
}
.facets__wrapper > .active-facets__button-wrapper span {
  font-size: 13px;
}
.facets__wrapper > .active-facets__button-wrapper a {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.02em;
  color: rgba(var(--color-foreground), 0.75);
  margin-bottom: 0.95em;
}
.facets__wrapper > .active-facets__button-wrapper a:hover {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  text-underline-offset: 0.3em;
}
#Details-Mobile-sort_by-main-collection-product-grid {
  margin-right: 0;
}
#Details-Mobile-sort_by-main-collection-product-grid .facets__summary {
  top: 25%;
  margin-bottom: 0;
}
#Facet-sort_by-main-collection-product-grid.facets__display {
  /*background: #6A6A6B;
  border-radius: 10px;*/
  width: 19em;
  top: 100%;
  left: unset;
  right: 0;
}
#Facet-sort_by-main-collection-product-grid.facets__display .facets__list {
  padding: 1.2em 0;
}
#Facet-sort_by-main-collection-product-grid.facets__display .facets__item {
  position: relative;
  margin: 0 0 5px;
}
#Facet-sort_by-main-collection-product-grid.facets__display input[type=radio] {
  font-size: 1em;
  position: absolute;
  opacity: 1;
  width: 1.6em;
  min-width: unset;
  height: 1.6em;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
  left: 1.6em;
  top: 0.3em;
  background-color: transparent;
  border-color: transparent;
}
#Facet-sort_by-main-collection-product-grid.facets__display .facet-radio {
  padding: 0 1.6em;
  margin: 0 0 6px;
}
#Facet-sort_by-main-collection-product-grid.facets__display .facets__item:last-child .facet-radio {
  margin: 0;
}
#Facet-sort_by-main-collection-product-grid.facets__display .facet-radio span {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.02em;
  /*color: #FFFFFF;*/
}
#Facet-sort_by-main-collection-product-grid.facets__display .facet-checkbox {
  text-transform: none;
}
#Facet-sort_by-main-collection-product-grid.facets__display .facet-checkbox > svg {
  /*position: relative;
  top: 0.3em;*/
  background-color: transparent;
}
#Facet-sort_by-main-collection-product-grid.facets__display .facet-checkbox .icon-checkmark {
  position: absolute;
  top: 0.75em;
  left: 1.75em;
}
@media(min-width: 1440px) {
  #Facet-sort_by-main-collection-product-grid.facets__display .facet-checkbox .icon-checkmark {
    left: 1.65em;
  }
}
/*#Facet-sort_by-main-collection-product-grid.facets__display .facet-checkbox .icon-checkmark path {
  fill: white;
}*/

#Facet-view_on-main-collection-product-grid.facets__display {
  left: unset;
  right: 0;

}
#Facet-view_on-main-collection-product-grid.facets__display .facets__list {
  display: flex;
  align-items: center;
  padding: 1.8em 1.9em;
}
#Facet-view_on-main-collection-product-grid.facets__display .facet-radio {
  padding: 0 1.8em 0 0;
  margin: 0;
}
#Facet-view_on-main-collection-product-grid.facets__display .facets__item:last-child .facet-radio {
  padding: 0;
}

.facets__header {
  /*border-bottom: 1px solid rgba(var(--color-foreground), 0.2);*/
  padding: 1.5em 2.15em 0;
  display: flex;
  /*justify-content: space-between;*/
  justify-content: flex-end;
  font-size: 1.4em;
  position: sticky;
  top: 0;
  background-color: rgb(var(--color-background));
  z-index: 6;
}
.facets__header .facets__selected {
  display: none;
}

.facets__list {
  padding: 1em 1em 0;
}

.facets__item {
  display: flex;
  align-items: center;
  font-size: unset;
}
.facets__selected.no-js-hidden.count {
  font-size: 13px;
  color: #B5B5B5;
  font-weight: 400;
}

.facets__item label,
.facets__item input[type='checkbox'] {
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
.facets__item label span {
  font-weight: 400 !important;
}
.facets__item size-check span
{
  text-transform: uppercase;
}

.facets__item-checkbox {
  display: none !important;
}

.facets__item--color:has(.facets__item-checkbox:disabled), .mobile-facets__item--color:has(.facets__item-checkbox:disabled), .list-menu__item--disabled{
  /* display: none; */
}

.facets__item-label--color {
  font-size: 14px;
  /*font-weight: 600;*/
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  margin: 0;
}
.list-menu__item--disabled, .facets__item-label--color.facet-checkbox--disabled  {
  opacity: .5;
  /*text-decoration: line-through;*/
  cursor: not-allowed;
}
/* .hide-list-s{
  position: absolute;
  opacity: 0;
  display: none;
} */
.list-menu__item--disabled *, .facets__item-label--color.facet-checkbox--disabled  {
  pointer-events: none;
}
.facets__item-label--color span {
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  position: relative;
  background: #000;
  box-shadow: inset 2px 0 0 #fff, inset 0 2px 0 #fff, inset -2px 0 0 #fff, inset 0 -2px 0 #fff;
  /*border: 1px solid #FFF5EA;*/
  padding: 3px;
}
.list-menu__item:hover input[type='checkbox']:not(:disabled) ~ .facets__item-label--color span,
.facets__item input[type='checkbox']:checked ~ .facets__item-label--color span,
.mobile-facets__item input[type='checkbox']:checked ~ .facets__item-label--color span {
  border: 1px solid #000000;
}
.facet-checkbox:not(.facets__item-label--color),
.facet-radio {
  padding: 0.5em;
  flex-grow: 1;
  position: relative;
  font-size: 1em;
  line-height: 1.14;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0;
}
.facets__details-size .facets__list .facet-checkbox,
.facets__details-size .facets__list .facet-radio {
  text-transform: uppercase;
}

/*
.facets__details-size .facets-wrap-container-1 .facets__list-wrap .facets__list .facet-checkbox {
  padding-left: 44%;
}
.facets__details-size .facets-wrap-container-1 .facets__list-wrap .facets__list .facet-checkbox .icon-checkmark {
  left: 44.3%;
}
.facets__details-size .facets-wrap-container-2 .facets__list-wrap .facets__list .facet-checkbox {
  padding-left: 40%;
}
.facets__details-size .facets-wrap-container-2 .facets__list-wrap .facets__list .facet-checkbox .icon-checkmark {
  left: 40.5%;
}
.facets__details-size .facets-wrap-container-3 .facets__list-wrap:nth-child(2) .facets__list .facet-checkbox,
.facets__details-size .facets-wrap-container-3 .facets__list-wrap:nth-child(3) .facets__list .facet-checkbox {
  padding-left: 4em;
}
.facets__details-size .facets-wrap-container-3 .facets__list-wrap:nth-child(2) .facets__list .facet-checkbox .icon-checkmark {
  left: 4.15em;
}
.facets__details-size .facets-wrap-container-3 .facets__list-wrap:nth-child(3) .facets__list .facet-checkbox .icon-checkmark {
  left: 4.05em;
}
@media (min-width: 1440px) {
  .facets__details-size .facets-wrap-container-3 .facets__list-wrap:nth-child(2) .facets__list .facet-checkbox .icon-checkmark {
    left: 4.05em;
  }
  .facets__details-size .facets-wrap-container-3 .facets__list-wrap:nth-child(3) .facets__list .facet-checkbox .icon-checkmark {
    left: 4.15em;
  }
}
*/

.facet-checkbox span,
.facet-radio span {
  font-size: 1.4em;
}

.facet-checkbox input[type='checkbox'],
.facet-checkbox input[type='radio'],
.facet-radio input[type='radio'] {
  font-size: 1em;
  position: absolute;
  opacity: 1;
  width: 1.1em;
  min-width: unset;
  height: 1.1em;
  /*top: 0.7em;
  left: -0.4em;*/
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
  opacity: 0;
}
.facet-radio input[type='radio'][name='view_on'] {
  opacity: 0;
}
.facet-radio input[type='radio'][name='view_on'] ~ svg rect {
  stroke: #DADADA;
}
.facet-radio input[type='radio'][name='view_on']:checked ~ svg rect,
.facet-radio:hover input[type='radio'][name='view_on'] ~ svg rect {
  stroke: black;
}

.no-js .facet-checkbox input[type='checkbox'],
.no-js .facet-checkbox input[type='radio'],
.no-js .facet-radio input[type='radio'] {
  z-index: 0;
}

.facet-checkbox > svg {
  background-color: rgb(var(--color-background));
  margin-right: 0.7em;
  flex-shrink: 0;
  color: #C4C4C4;
}

.facet-checkbox .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 1.1em;
  z-index: 5;
  top: 1.4em;
  width: unset;
  height: unset;
  vertical-align: unset;
  fill: unset;
}

.facet-checkbox > input[type='checkbox']:checked ~ svg,
.facet-checkbox > input[type='radio']:checked ~ svg,
#Facet-sort_by-main-collection-product-grid.facets__display .Filter-sort_by:checked ~ .facet-radio svg {
  background-color: #000;
  color: #000;
}
.facet-checkbox > input[type='checkbox']:checked ~ .icon-checkmark,
.facet-checkbox > input[type='radio']:checked ~ .icon-checkmark {
  top: calc(50% - 0.45em);
}
.facet-checkbox > input[type='checkbox']:checked ~ .icon-checkmark,
.facet-checkbox > input[type='radio']:checked ~ .icon-checkmark,
#Facet-sort_by-main-collection-product-grid .facets__item input[type='radio']:checked ~ label .icon-checkmark {
  visibility: visible;
}
.facets__details-price_range .facet-checkbox > input[type='radio']:checked ~ .icon-checkmark {
  top: calc(50% - 0.45em);
  left: 0.1em;
}
.facet-checkbox > input[type='checkbox']:checked ~ .icon-checkmark path,
.facet-checkbox > input[type='checkbox']:checked ~ .icon-checkmark circle,
.facet-checkbox > input[type='radio']:checked ~ .icon-checkmark path,
.facet-checkbox > input[type='radio']:checked ~ .icon-checkmark circle,
#Facet-sort_by-main-collection-product-grid.facets__display .Filter-sort_by:checked ~ .facet-radio .icon-checkmark path,
#Facet-sort_by-main-collection-product-grid.facets__display .Filter-sort_by:checked ~ .facet-radio .icon-checkmark circle {
  fill: white;
}
/*
#Facet-sort_by-main-collection-product-grid .facets__item label:hover,
#Facet-sort_by-main-collection-product-grid .facets__item input[type='radio']:checked ~ label {
  background: #995193;
}
*/

@media screen and (forced-colors: active) {
  .facet-checkbox > svg {
    background-color: inherit;
    border: 0.1em solid rgb(var(--color-background));
  }

  .facet-checkbox > input[type='checkbox']:checked ~ .icon-checkmark,
  .facet-checkbox > input[type='radio']:checked ~ .icon-checkmark {
    border: none;
  }
}

.facet-checkbox--disabled {
  color: rgba(var(--color-foreground), 0.4);
}

.facets__price {
  display: flex;
  padding: 2em;
}

.facets__price .field + .field-currency {
  margin-left: 2em;
}

.facets__price .field {
  align-items: center;
}

.facets__price .field-currency {
  align-self: center;
  margin-right: 0.6em;
}

.facets__price .field__label {
  left: 1.5em;
}

button.facets__button {
  min-height: 0;
  margin: 0 0 0 0.5em;
  box-shadow: none;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}

.facets__button-no-js {
  transform: translateY(-0.6em);
}

.active-facets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 2;
  margin-top: -0.5em;
}
.active-facets.active-facets-desktop {
  display: none;
}

.active-facets__button {
  display: block;
  margin-right: 1.5em;
  margin-top: 1.5em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-decoration: none;
}

span.active-facets__button-inner {
  color: rgb(var(--color-foreground));
  box-shadow: 0 0 0 0.1em rgb(var(--color-foreground));
  border-radius: 2.6em;
  font-size: 1em;
  min-height: 0;
  min-width: 0;
  padding: 0.5em 1em;
  display: flex;
  align-items: stretch;
}

span.active-facets__button-inner:before,
span.active-facets__button-inner:after {
  display: none;
}

.active-facets__button-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
}

.active-facets__button-wrapper * {
  font-size: 1em;
}

@media screen and (min-width: 990px) {
  .active-facets__button {
    margin-right: 1.5em;
  }

  .active-facets__button-wrapper *,
  span.active-facets__button-inner {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 989px) {
  .active-facets {
    margin: 0 -1.2em -1.2em;
  }

  .active-facets__button,
  .active-facets__button-emove {
    margin: 0;
    padding: 1.2em;
  }

  span.active-facets__button-inner {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
  }

  .active-facets__button-wrapper {
    padding-top: 0;
    margin-left: 1.2em;
  }
}

.active-facets__button:hover .active-facets__button-inner {
  box-shadow: 0 0 0 0.2em rgb(var(--color-foreground));
}

.active-facets__button--light .active-facets__button-inner {
  box-shadow: 0 0 0 0.1em rgba(var(--color-foreground), 0.2);
}

.active-facets__button--light:hover .active-facets__button-inner {
  box-shadow: 0 0 0 0.2em rgba(var(--color-foreground), 0.4);
}

a.active-facets__button:focus-visible {
  outline: none;
  box-shadow: none;
}

/* outline styling for Windows High Contrast Mode */
@media(forced-colors: active) {
  a.active-facets__button:focus-visible {
    outline: transparent solid 1px;
  }
}
a.active-facets__button.focused,
.no-js a.active-facets__button:focus {
  outline: none;
  box-shadow: none;
}

a.active-facets__button:focus-visible .active-facets__button-inner {
  box-shadow: 0 0 0 0.1em rgba(var(--color-foreground), 0.2), 0 0 0 0.2em rgb(var(--color-background)), 0 0 0 0.4em rgb(var(--color-foreground));
  outline: none;
}

a.active-facets__button.focused .active-facets__button-inner,
.no-js a.active-facets__button:focus .active-facets__button-inner {
  box-shadow: 0 0 0 0.1em rgba(var(--color-foreground), 0.2), 0 0 0 0.2em rgb(var(--color-background)), 0 0 0 0.4em rgb(var(--color-foreground));
  outline: none;
}

.active-facets__button svg {
  align-self: center;
  flex-shrink: 0;
  margin-left: 0.6em;
  margin-right: -0.2em;
  pointer-events: none;
  width: 1.2em;
}

@media all and (min-width: 990px) {
  .active-facets__button svg {
    margin-right: -0.4em;
    margin-top: 0.1em;
    width: 1.4em;
  }
}

.active-facets facet-emove:only-child {
  display: none;
}

.facets-vertical .active-facets .active-facets-vertical-filter:only-child > facet-emove {
  display: none;
}

.facets-vertical .active-facets-vertical-filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.facets-vertical .active-facets-vertical-filter .active-facets__button-wrapper {
  padding-top: 0;
  display: flex;
  align-items: flex-start;
}

.facets-vertical .active-facets__button {
  margin-top: 0;
}

.active-facets facet-remove:only-child {
  display: none;
}

.active-facets__button.disabled,
.mobile-facets__clear.disabled {
  pointer-events: none;
}

.mobile-facets__clear-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
.mobile-facets__clear-wrapper a {
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.15em;
  text-transform: uppercase;
  color: #000;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.mobile-facets {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(var(--color-foreground), 0.5);
  pointer-events: none;
}

.mobile-facets__disclosure {
  display: flex;
}

.mobile-facets__wrapper {
  margin-left: 0;
  display: flex;
}

.mobile-facets__wrapper .disclosure-has-popup[open] > summary::before {
  height: 100vh;
  z-index: 3;
}

.mobile-facets__inner {
  background-color: rgb(var(--color-background));
  /*width: calc(100% - 5em);*/
  margin-left: auto;
  height: 100%;
  overflow-y: auto;
  pointer-events: all;
  transition: transform var(--duration-short) ease;
  max-width: 37.5em;
  display: flex;
  flex-direction: column;
  border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  border-style: solid;
  border-width: 0 0 0 var(--drawer-border-width);
  filter: drop-shadow(var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius) rgba(var(--color-shadow), var(--drawer-shadow-opacity)));
}

.menu-opening .mobile-facets__inner {
  transform: translateX(0);
}

.js .disclosure-has-popup:not(.menu-opening) .mobile-facets__inner {
  transform: translateX(105vw);
}

.mobile-facets__header {
  border-bottom: 0.1em solid #F0EFF1;
  padding: 1em 19px 0.8em;
  text-align: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}

.mobile-facets__header-inner {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-facets__header-inner svg {
  width: 17px;
  height: auto;
  margin-right: 0.54em;
}

.mobile-facets__info {
  padding: 0 2.6em;
}

.mobile-facets__heading {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
  display: inline-block;
}

.mobile-facets__count {
  color: rgba(var(--color-foreground), 0.7);
  font-size: 1.3em;
  margin: 0;
  flex-grow: 1;
}

.mobile-facets__open-wrapper {
  display: inline-block;
}

.mobile-facets__open {
  text-align: left;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1;
  color: rgba(var(--color-link), var(--alpha-link));
}

.mobile-facets__open:hover {
  color: rgb(var(--color-link));
}

.mobile-facets__open:hover line,
.mobile-facets__open:hover circle {
  stroke: rgb(var(--color-link));
}

.mobile-facets__open-label {
  transition: text-decoration var(--duration-short) ease;
}

.mobile-facets__open:hover .mobile-facets__open-label {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.mobile-facets__open > * + * {
  margin-left: 0.36em;
}

.mobile-facets__open svg {
  width: 17px;
  height: auto;
}

.mobile-facets__open line,
.mobile-facets__open circle {
  stroke: rgba(var(--color-link), var(--alpha-link));
}

.mobile-facets__close {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0.1em;
  left: 1em;
  width: 4.4em;
  height: 4.4em;
  z-index: 101;
  opacity: 0;
  transition: opacity var(--duration-short) ease;
}


details.menu-opening .mobile-facets__close {
  display: flex;
  opacity: 1;
}

details.menu-opening .mobile-facets__close svg {
  margin: 0;
}

.mobile-facets__close-button {
  align-items: center;
  background-color: transparent;
  display: flex;
  font-size: 1.4em;
  font: inherit;
  letter-spacing: inherit;
  margin-top: 1.5em;
  padding: 1.2em 2.6em;
  text-decoration: none;
  width: calc(100% - 5.2em);
}

.no-js .mobile-facets__close-button {
  display: none;
}

.mobile-facets__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1em;
}

.mobile-facets__main {
  padding: 0;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.mobile-facets__details[open] .icon-caret {
  transform: rotate(180deg);
}

.no-js .mobile-facets__details {
  border-bottom: 1px solid rgba(var(--color-foreground), 0.04);
}

.mobile-facets__summary {
  padding: 1.5em 2.2em;
}

.mobile-facets__summary svg {
  margin-left: auto;
}

.mobile-facets__summary > div,
.facets__summary > div {
  display: flex;
  align-items: center;
}
.facets__summary > div > * + * {
  margin-left: 2px;
}
.sort-by > * + * {
  margin-left: 2px;
}

.mobile-facets__summary > div > span {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.02em;
}
.mobile-facets__main > .mobile-facets__clear-wrapper {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 10px;
    padding: 1.1em 2.2em;
    margin-top: auto;
    margin-bottom: 40px;
}
.mobile-facets__main > .mobile-facets__clear-wrapper a {
  font-size: 1.6em;
  font-weight: bolder;
  line-height: 1;
  text-align: center;
  margin-top: letter-spacing: 0.02em;
  color: #000;
  text-decoration: unset;
  text-underline-offset: unset;
  display: inline-block;
  margin: 2rem 0 0;
}
.mobile-facets__details .mobile-facets__submenu .mobile-facets__container {
  max-height: 30vh;
  overflow: auto;
}
.facets__display::-webkit-scrollbar,
.mobile-facets__inner::-webkit-scrollbar,
.mobile-facets__details .mobile-facets__submenu .mobile-facets__container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.facets__display::-webkit-scrollbar-thumb,
.mobile-facets__inner::-webkit-scrollbar-thumb,
.mobile-facets__details .mobile-facets__submenu .mobile-facets__container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.mobile-facets__details .mobile-facets__list {
  display: grid;
  padding: 0 2em 1em;
  grid-template-columns: 1fr 1fr;
}
.mobile-facets__details-size .mobile-facets__list {
  grid-template-columns: unset;
  gap: unset;
  padding: unset;
  grid-template-columns: 1fr 1fr;
}
.mobile-facets__details-size .facets-wrap-container {
  /*display: flex;*/
  padding: 0.7em 2.2em 1em;
}
.mobile-facets__details-size .facets-wrap-container > div {
  width: 100%;
}
/*
.mobile-facets__details-size .facets-wrap-container-3 > div {
  width: 27.5%;
}
.mobile-facets__details-size .facets-wrap-container-3 > div:nth-child(2) {
  width: 45%;
}
.mobile-facets__details-size .facets-wrap-container-3 > div:last-child > div {
  text-align: right;
}
.mobile-facets__details-size .facets-wrap-container-3 > div:nth-child(2) .mobile-facets__label {
  padding: 0.79em 0.79em 0.79em 3.79em;
}
.mobile-facets__details-size .facets-wrap-container-3 > div:nth-child(2) .mobile-facets__label .icon-checkmark {
  left: 4em;
}
.mobile-facets__details-size .facets-wrap-container-3 > div:last-child .mobile-facets__label {
  padding: 0.79em 0 0.79em 2.79em;
}
.mobile-facets__details-size .facets-wrap-container-3 > div:last-child .mobile-facets__label .icon-checkmark {
  left: 3em;
}
*/
.mobile-facets__details-price_range .facets__list {
  display: grid;
  gap: 2.8em 2em;
  /*grid-template-columns: repeat(2,1fr);*/
  padding: 0.9em 2.1em 2em;
}
.mobile-facets__details-price_range .facets__price {
  padding: 0;
}
.mobile-facets__details-price_range .facet-checkbox {
  /*font-weight: 600;*/
  line-height: 1;
  letter-spacing: 0.02em;
  align-items: center;
  padding: 0;
}
.mobile-facets__details-price_range .facet-checkbox input[type=radio] {
  width: 1.4em;
  height: 1.4em;
}
.mobile-facets__details-price_range .facet-checkbox .icon-checkmark {
  top: calc(50% - 0.4em);
  left: 0.2em;
}
.mobile-facets__details-price_range .facet-checkbox > input[type='radio']:checked ~ .icon-checkmark {
  top: calc(50% - 0.4em);
  left: 0.2em;
}
.mobile-facets__details-color .mobile-facets__list {
  gap: 2.3em;
  column-gap: unset;
  padding: 1.5em 2.2em;
  grid-template-columns: 1fr 1fr;

}
.mobile-facets__main label:not(.facets__item-label--color){
  padding: 0.79em 0.79em 0.79em 0;
}
/*.js .mobile-facets__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 3;
  transform: translateX(100%);
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.js details[open] > .mobile-facets__submenu {
  transition: transform 0.4s cubic-bezier(0.29, 0.63, 0.44, 1),
    visibility 0.4s cubic-bezier(0.29, 0.63, 0.44, 1);
}

.js details[open].menu-opening > .mobile-facets__submenu {
  transform: translateX(0);
  visibility: visible;
}*/

.js .menu-drawer__submenu .mobile-facets__submenu {
  overflow-y: auto;
}

/*.js .mobile-facets .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
/*}*/

.mobile-facets__item {
  position: relative;
}

input.mobile-facets__checkbox {
  border: 0;
  position: absolute;
  min-width: unset;
  width: 1.12em;
  height: 1.12em;
  position: absolute;
  left: -0.1em;
  top: 0.76em;
  z-index: 0;
  appearance: none;
  -webkit-appearance: none;
}

.mobile-facets__label {
  padding: 0.79em 0.79em 0.79em 0;
  width: 100%;
  transition: background-color 0.2s ease;
  word-break: break-word;
  display: flex;
  font-size: 1.03em;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
}
.mobile-facets__details-size .mobile-facets__list .mobile-facets__label {
  text-transform: uppercase;
}

.mobile-facets__label > svg {
  background-color: rgb(var(--color-background));
  position: relative;
  z-index: 2;
  margin-right: 0.4em;
  flex-shrink: 0;
  color: #C4C4C4;
}

.mobile-facets__label .icon-checkmark {
  position: absolute;
  top: 1em;
  left: 0.15em;
  visibility: hidden;
  width: unset;
  height: unset;
  fill: unset;
}

.mobile-facets__checkbox:checked ~ svg,
.mobile-facets__checkbox:checked ~ svg,
#Facet-sort_by-main-collection-product-grid.facets__display .Filter-sort_by__mobile:checked ~ .facet-checkbox svg {
  background-color: #000;
  color: #000;
}
.mobile-facets__label > input[type='checkbox']:checked ~ .icon-checkmark,
.mobile-facets__checkbox:checked ~ .icon-checkmark {
  visibility: visible;
}
.mobile-facets__checkbox:checked ~ .icon-checkmark path,
.mobile-facets__checkbox:checked ~ .icon-checkmark path,
#Facet-sort_by-main-collection-product-grid.facets__display .Filter-sort_by__mobile:checked ~ .facet-checkbox .icon-checkmark path {
  fill: white;
}

.mobile-facets__arrow,
.mobile-facets__summary .icon-caret {
  margin-left: auto;
  display: block;
}
.mobile-facets__summary .icon-caret {
  position: static;
  margin-left: unset;
}

.mobile-facets__label--disabled {
  opacity: 0.5;
}

.mobile-facets__footer {
  border-top: 0.1em solid rgba(var(--color-foreground), 0.08);
  padding: 1.2em 0 1.2em 2em;
  bottom: 0;
  position: sticky;
  display: flex;
  z-index: 2;
  margin-top: auto;
  background: #fff;
  margin-right: 0;
  justify-content: flex-end;
}

.mobile-facets__footer > * + * {
  margin-left: 1em;
}

.mobile-facets__footer > * {
  width: 50%;
}
/* .button.button--primary {
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.15;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000;
  padding: 8px;
  border-radius: 0;
} */
.mobile-facets__footer noscript .button {
  width: 100%;
}

.mobile-facets__sort {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.mobile-facets__sort label {
  flex-shrink: 0;
}

.mobile-facets__sort .select {
  width: auto;
}

.no-js .mobile-facets__sort .select {
  position: relative;
  right: -1em;
}

.mobile-facets__sort .select .icon-caret {
  right: 0;
}

.mobile-facets__sort .select__select {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  filter: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 1.5em;
}

.product-count {
  align-self: center;
  position: relative;
  text-align: right;
}

.product-count__text {
  font-size: 1.4em;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  margin: 0;
}

.product-count__text.loading {
  visibility: hidden;
}

.product-count .loading-overlay__spinner,
.product-count-vertical .loading-overlay__spinner {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.8em;
}

.product-count__text.loading + .loading-overlay__spinner {
  display: block;
}

/* @media screen and (min-width: 376px) {
  .mobile-facets__close {
    left: unset;
    right: 32em;
  }
} */
@media screen and (min-width: 750px) {
  .facets-vertical {
    display: flex;
  }

  .facets-wrap-vertical {
    border: none;
    padding-left: 0;
  }

  .facets__form-vertical {
    display: flex;
    flex-direction: column;
    width: 26em;
  }

  .facets__disclosure-vertical {
    border-top: 0.1em solid rgba(var(--color-foreground), 0.1);
    margin-right: 0;
  }

  .facets-vertical .facets__summary {
    padding-top: 1.5em;
    margin-bottom: 0;
    padding-bottom: 1.5em;
  }

  .facets__heading--vertical {
    margin: 0 0 1.5em;
    font-size: 1.5em;
  }

  .facets__header-vertical {
    padding: 1.5em 2em 1.5em 0;
    font-size: 1.4em;
  }

  .facets__display-vertical {
    padding-bottom: 1.5em;
  }

  .facets-vertical .facets-wrapper {
    padding-right: 3em;
  }

  .facets-vertical .facets-wrapper--no-filters {
    display: none;
  }

  .no-js .facets-vertical .facets-wrapper--no-filters {
    display: block;
  }

  .facets-vertical .product-grid-container {
    width: 100%;
  }

  .facets-vertical-form {
    display: flex;
    justify-content: flex-end;
  }

  .product-count-vertical {
    margin-left: 3.5em;
  }

  .facets-vertical .active-facets__button-wrapper {
    margin-bottom: 2em;
  }

  .facets-vertical .no-js .facets__button-no-js {
    transform: none;
    margin-left: 0;
  }

  .facets-vertical .no-js .facet-filters__field {
    justify-content: flex-start;
    padding-bottom: 1em;
    padding-top: 2em;
  }

  .facets-vertical .facets__price {
    padding: 0.5em 0.5em 0.5em 0;
  }

  .facets-vertical .facets__price .field:last-of-type {
    margin-left: 1em;
  }

  .sort-by {
    align-items: flex-start;
  }
  .facets-vertical .active-facets__button {
    margin-bottom: 1.5em;
  }

  .no-js .facets-vertical .facet-filters.sorting {
    padding-left: 0;
    flex-direction: column;
  }

  .facets-vertical .facet-checkbox input[type='checkbox'] {
    z-index: 0;
  }

  .no-js .facets-vertical .facets-container {
    display: flex;
    flex-direction: column;
  }

  .facets-vertical .active-facets facet-emove:last-of-type {
    margin-bottom: 1em;
  }

  .facets-vertical .active-facets {
    margin: 0;
    align-items: flex-start;
  }

  .facets__disclosure-vertical[open] .facets__summary .icon-caret {
    transform: rotate(180deg);
  }

  .facets-container-drawer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 0;
  }

  .facets-container-drawer .mobile-facets__wrapper {
    margin-right: 2em;
    flex-grow: 1;
  }

  .facets-container-drawer .product-count {
    margin: 0 0 0.5em 3.5em;
  }

  .facets-container-drawer .facets-pill {
    width: 100%;
  }

  .facets-container-drawer .facets__form {
    display: block;
  }

  .facets__details-size .facets-wrap-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 2em 3em 3em;
  }
  .facets__details-size .facets__list-wrap {
    width: 100% !important;
  }
  .facets__details-size .facets__list-wrap .facets__list {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(5, 1fr);
    padding: 4em 18em 4em 10em;
  }
  .grid-dropped {
    width: 100%;
    display: grid !important;
    gap: 14px;
    /* grid-template: repeat(4, 1fr) / repeat(10, 1fr); */
    grid-template-columns: repeat(5, 1fr);
    /* grid-auto-flow: column;
    grid-auto-columns: 1fr; */
    column-gap: 0.8rem;
  }
  .Color.facets__details-list ul.facets__list.no-js-hidden {
    width: 100%;
    display: grid !important;
    gap: 20px;
    /* grid-template: repeat(3, 1fr) / repeat(5, 1fr); */
    grid-template-columns: repeat(5, 1fr);
   /*  grid-auto-flow: column;
    grid-auto-columns: 1fr; */
    column-gap: 0.8rem;
  }
  .grid-dropped-category {
    width: 100%;
    display: grid !important;
    gap: 21px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-auto-flow: column;
    column-gap: 10.06%;
  }
  .facets__details-size .facets__list-wrap .facets__list .facets__item {
    /*min-width: 20%;*/
    min-width: 12.5%;
  }

  #Facet-sort_by-main-collection-product-grid.facets__display {
    top: 75%;
    /*left: -2.6em;*/
    right: unset;
  }
  /*
  .facet-checkbox > input[type='checkbox']:checked ~ svg,
  .facet-checkbox > input[type='radio']:checked ~ svg,
  #Facet-sort_by-main-collection-product-grid.facets__display .Filter-sort_by:checked ~ .facet-radio svg {
    border-radius: 50%;
  }
  */

  .facet-checkbox span,
  .facet-radio span,
  .facets__item-label--color {
    font-size: 15px;
  }
  .facets__item-label--color span {
    width: 17px;
    min-width: 17px;
    height: 17px;
    /*border-radius: 50%;*/
  }
}

@media screen and (min-width: 750px) and(max-width: 989px) {
  .facets-vertical .active-facets__button {
    padding: 1em;
    margin-bottom: 0;
    margin-left: -0.5em;
  }

  .facets-vertical .active-facets__button-emove {
    padding: 0 1em 1em;
  }

  /*
  .facets__details-category .facets__display,
  .facets__details-type .facets__display {
    width: 53em;
  }
  */
  .facets__details-category .facets__display .facets__list,
  .facets__details-type .facets__display .facets__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .facets__details-price_range .facets__list {
    grid-template-columns: repeat(4, 1fr);
  }
}



/* New Jose */

.view-filter {
  position: inherit !important;
  border: none !important;
  padding: 0 !important;
}
.view-filter .facets-wrap.parent-wrap {
  padding: 0 !important;
  border: none !important;
}

.view-filter .facets-wrap.parent-wrap ul {
  padding: 0 !important;
}
.view-filter .facets-wrap.parent-wrap ul > * + * {
  margin-left: 0.5rem !important;
}
.view-filter .facet-radio {
  padding: 0 !important;
}

.facets-wrapper.page-width {
  padding-right: 0;
}

.facet-remove a {
  font-size: 1.3em !important;
  color: #999999 !important;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 1px;

}

.filter_item {
  margin-right: 0.5rem;
  transition: all 0.1s ease-in-out;
  animation: appear 0.1s ease-in-out;
}
.filter_item:not(.facet-remove) span {
  font-weight: 600;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
.filter_item svg {
  transition: all 0.5s;
}
.facet-checkbox svg:not(.arrow) {
  width: 17px;
  height: 17px;
  color: #ABABAB;
  border-radius: 4px;
}
.filter_item svg.arrow {
  transition: all 0.5s;
  width: 10.22px;
  height: 6px;
  margin-left: 10px;
}
.sort-by .arrow {
  transition: all 0.5s;
  width: 10.22px;
  height: 6px;
  margin-left: 10px;
}
.filter_item[open] svg.arrow {
  transform: rotate(180deg);
}
#Details-sort_by-main-collection-product-grid svg {
  transition: all 0.5s;
}
#Details-sort_by-main-collection-product-grid[open] svg {
  transform: rotate(180deg);
}

#desktop-filter-toggler {
  display: flex;
  transition: all 0.4s;
}
#desktop-filter-toggler:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#desktop-filter-toggler svg {
  margin-right: 0.4rem;
}
#desktop-filter-toggler span {
  text-decoration: none;
}

.facets__header.bottom {
  padding: 0 2.5rem 1rem;
}
.facets__header.bottom a {
  font-size: 13px !important;
  color: #ABABAB !important;
}

#Details-sort_by-main-collection-product-grid span {
  font-weight: bold;
}


@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.pt{
  padding-top: 260px;
}

/* horizontal fecets */

.facets__summary {
  margin-bottom: 0px!important;
}

.facets__horizontal {
  position: relative;
}

.facets__horizontal .disclosure-has-popup {
  position: unset;
}

.facets__horizontal .parent-display {
  position: absolute;
  top: 30px;
  width: 100%!important;
}

.facets__horizontal .facets__form {
  align-items: center;
}

.facets__horizontal .facets__wrapper {
  height: 22px;
}

.facets__disclosure {
  margin-right: 0px;
}

.facets .active-facets__button-remove {
  margin-bottom: 0px!important;
}

.sort-parent input {
  width: auto!important;
  position: absolute;
  opacity: 0;
}

.sort-parent .facet-checkbox span {
  font-size: 13px;
}

.sort-parent .facet-checkbox {
  padding: 8px 0px!important;
}

.sort-parent .facets__list {
  padding: 16px!important;
  width: 180px;
}

.sort-parent input:checked~.facet-radio svg {
  background-color: #000;
  color: #000;
}

.sort-parent .parent-display {
  width: auto!important;
}

@media screen and (max-width: 750px) {
  .sort-parent .parent-display {
    right: 0px;
    left: auto;
  }
}

@media screen and (max-width: 750px) {
  .facet-checkbox span {
    font-size: 14px;
  }
}

.sort-parent{
  position: relative!important;
}

.mobile-facets__sort {
  align-items: center;
}

.mobile-facets__container .facets-wrap-container {
  padding-left: 0px;
}

.mobile-facets__close {
  width: 50px;
  height: 50px;
}

.mobile-facets__summary{
  padding: 15px;
}

.mobile-facets__btn.underlined-link {
  font-size: 16px!important;
}

.mobile-facets__summary svg {
  width: 16px;
  height: 16px;
}

.mobile-facets__summary > div > span {
  font-size: 14px;
}

.mobile-facets__list {
  padding-left: 15px!important;
}

.mobile-facets__clear-wrapper {
  justify-content: center!important;
}

.mobile-facets__clear-wrapper a{
  font-size: 14px!important;
}

/* vertical fecets */

.facets-vertical-form {
  align-items: center;
  padding-bottom: 15px;
}

.facets-vertical-form .facet-filters__label {
  margin-right: 15px;
}

.facets-vertical-form .facet-filters__label label {
  margin-bottom: 0px;
  font-size: 13px;
  font-family: "proxima-nova", sans-serif;
}

.facets-vertical-form .product-count__text {
  font-size: 15px;
  font-family: "Dala Floda Web Roman Regular";
  color: #000;
}

@media screen and (min-width: 750px) {
  .facets__form-vertical {
      width: 16em;
  }
}

.facets-vertical-form select {
  padding: 5px;
  font-size: 13px;
  color: #000;
  font-family: "proxima-nova", sans-serif;
}

.facets-vertical-form .select{
  margin-right: 15px;
  width: 130px;
}

.facets-vertical-form .select svg{
  width: 16px;
  height: 16px;
  top: 3px!important;
}

.facets__form-vertical {
  align-items: center;
}

.facets__form-vertical .facets__details-list {
  justify-content: start;
}

.facets__form-vertical div.caption-large {
  padding: 0px 0px 15px 0px;
} 

.facets__form-vertical #FacetsWrapperDesktop {
  width: 100%!important;
  padding-left: 15px;
}

.facets__form-vertical .active-facets__button-remove span{
  font-size: 13px!important;
}

.sort-parent .facets__display-vertical {
  position: absolute;
  z-index: 1;
  padding: 15px;
  background-color: #fff;
  right: 0px;
  width: 180px!important;
  box-shadow: 0 4px 4px #00000040;
}

/* drawer facets */

.facets-container-drawer .facets__form {
  margin-bottom: 0px;
}

/* there are two close icons one for mobile menu and another one for desktop drawer */
@media screen and (min-width: 768px) {
  .facets-container-drawer .mobile-facets__inner{
    width: 32%;
    max-width: none!important;
  }
  .facets-container-drawer .mobile-facets__close {
    left: 68%!important;
  }
  /* mobile menu close icon is hided above 768px */
  .mobile-facets__inner .mobile-facets__close{
    display: none!important;
  }
}

@media screen and (max-width: 767px) {
  .facets-container-drawer .mobile-facets__close {
    left: 10px!important;
  }
}

.facets-container-drawer .facet-filters__label {
  font-size: 13px;
  font-weight: 600;
}

.facets-container-drawer select {
  padding: 5px;
  font-size: 13px;
  color: #000;
  font-family: "proxima-nova", sans-serif;
}

.facets-container-drawer .select{
  margin-right: 15px;
  width: 130px;
}

.facets-container-drawer .select svg{
  width: 16px;
  height: 16px;
  top: 3px!important;
}

.facets-container-drawer .facet-filters__label {
  margin-right: 15px;
}

.facets-container-drawer .facet-filters__label label {
  margin-bottom: 0px;
  font-size: 13px;
  font-family: "proxima-nova", sans-serif;
}

.facets-container-drawer .facets__display-vertical {
  padding: 0px;
  right: 5px;
}

@media screen and (max-width: 768px) {
  .facets-container-drawer .grid-switcher {
    display: none;
  }
}