

/* Accordion */
 .rte ul.accordion {
	 list-style: none;
	 margin: 0;
}
 .accordion {
	 background: #fff;
	 text-align: left;
}
 .accordion .accordion-title {
	 padding: 1rem 0;
	 border-bottom: none;
	 border-top: none;
	 border-left: none;
	 border-right: none;
	 font-size: 0.85rem;
	 letter-spacing: 0.025rem;
	 color: #000;
	 background: #fff;
	 margin-left: 0px;
	 line-height: 1.6;
}
 .accordion .accordion-title:focus, .accordion .accordion-title:hover {
	 background-color: #fff;
}
 .accordion .accordion-title::before {
	 margin-top: -0.9rem;
	 font-size: 1.1rem;
}
 .accordion .accordion-content {
	 margin-top: 15px;
	 padding: 0 0 15px;
	 border: none;
	 background-color: #fff;
	 color: #000;
}
 :last-child > .accordion-content:last-child {
	 border-bottom: none;
}
 :last-child:not(.is-active) > .accordion-title {
	 border-bottom: none;
}
/*===== Custom css ====*/
.accordion {
    margin-bottom: 0;
    border-bottom: 0.1rem solid rgba(var(--color-foreground),.08);
}
.accordion summary:before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -8px;
    content: "+";
}
.accordion summary {
    padding: 16px 0;
}
.accordion details[open]>summary:before {
    content: "\2013";
}
.accordion__title {
    font-size: var(--body-font-size);
    line-height: 1.6;
}
