/*============================================================================ Form scaffolding - Selectors setup for you to style form elements how you want - Focus, error, and disabled states are set to be extended ==============================================================================*/
 input, textarea, select {
	 font-family: "proxima-nova", Helvetica, Roboto, Arial, sans-serif;
	 font-size: 0.9rem;
	 padding-top: 0.6rem;
	 padding-bottom: 0.6rem;
	 padding-right: 0.6rem;
	 padding-left: 0.6rem;
	 border-width: 1px;
	 border-style: solid;
	 box-shadow: none;
	 transition: none;
	 color: #000;
	 border-radius: 0;
	 width: 100%;
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
	 outline: none;
	 min-width: 20px;
}
 input[type="checkbox"], textarea[type="checkbox"], select[type="checkbox"] {
	 -webkit-appearance: inner-spin-button;
	 -moz-appearance: inner-spin-button;
	 appearance: inner-spin-button;
	 width: inherit;
}
 input:focus, textarea:focus, select:focus {
	 outline: none;
}
 input[disabled], textarea[disabled], select[disabled] {
	 cursor: default;
	 opacity: 0.2;
	 pointer-events: none;
}
 input, textarea {
	 background-color: #fff;
	 border-color: #000;
}
 input::placeholder, textarea::placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input::-moz-placeholder, textarea::-moz-placeholder, input:-moz-placeholder, textarea:-moz-placeholder, input::-ms-input-placeholder, textarea::-ms-input-placeholder {
	 color: #6f6f6f;
}
 input {
	 height: 28px;
}
 input.small {
	 width: inherit;
}
 textarea {
	 height: auto;
	 min-height: 100px;
	 width: 100%;
	 line-height: 1.4;
}
 [type="checkbox"], [type="radio"] {
	 height: inherit;
}
/*================ Custom select style ================*/
 select {
	 appearance: none;
	 background-repeat: no-repeat;
	 background-position: right 15px center;
	 background-size: 15px;
	 background-color: transparent;
	 height: 43px;
	 text-indent: 2px;
	 text-overflow: '';
	 background-color: #fff;
	 border-top: 0px;
	 border-left: 0px;
	 border-right: 0px;
	 border-bottom: 2px solid #000;
	 font-size: 0.9rem;
	 padding-top: 0.5rem;
	 padding-bottom: 0.5rem;
	 padding-right: 1rem;
	 padding-left: 0;
	 text-transform: capitalize;
	 cursor: pointer;
	 font-weight: 500;
	/*================ Hide the svg arrow in IE9 ================*/
}
 .ie9 select {
	 padding-right: 10px;
	 background-image: none;
}
 select:hover {
	 border-color: #000;
}
 select.outline {
	 padding-right: 45px;
	 padding: 0.8rem;
	 border: 1px solid #000;
}
 select.small {
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
	 background-position: right center;
	 background-repeat: no-repeat;
	 background-position: right 10px center;
	 background-color: transparent;
	 padding-right: 28px;
	 height: 28px;
	 text-indent: 0.01px;
	 text-overflow: '';
	 background-color: #fff;
	 border: 1px solid #000;
	 padding: 0.4rem;
	 cursor: pointer;
	 font-weight: 500;
	 font-size: 0.7rem;
	 text-transform: uppercase;
}
 select::-ms-expand {
	 display: none;
}
/*================ Error styles ================*/
 input.input-error, select.input-error, textarea.input-error {
	 border-color: #ff4136;
	 background-color: #000;
	 color: #ff4136;
}
 .form-error {
	 margin-top: 15px;
	 color: #ff4136;
}
/*================ Success styles ================*/
 .form-success {
	 margin-top: 15px;
	 color: #3d9970;
}
/*================ Google Recaptcha Badge ================*/
 .grecaptcha-badge {
	 visibility: hidden;
}
/*================ Form styles ================*/
 form.search-form {
	 max-width: 440px;
	 margin-left: auto;
	 margin-right: auto;
}
 form.search-form .input-group {
	 background-color: #f3f3f3;
	 position: relative;
	 display: table;
	 width: 100%;
	 border-collapse: separate;
	 border: none;
}
 form.search-form .input-group .input-group-btn {
	 display: table-cell;
	 margin: 0;
	 vertical-align: middle;
	 text-align: right;
	 width: 100px;
}
 form.search-form .input-group input.search {
	 border: 1px solid #000;
	 text-transform: initial;
	 color: #000;
	 font-size: 0.8rem;
	 height: 45px;
	 line-height: 45px;
	 background-image: url({
		{
			 "icon-search.svg" | asset_url
		}
	}
	);
	 background-repeat: no-repeat;
	 background-size: 18px;
	 background-position: left center;
	 background-position-x: 6px;
	 background-color: #f3f3f3;
	 padding-left: 30px;
}
 form.search-form .input-group .btn {
	 text-align: center;
	 width: 100%;
	 margin-top: 0px;
	 height: 45px;
	 display: inline-block;
	 min-width: inherit;
}
 .input-group.minimal {
	 background-color: #fff;
	 position: relative;
	 display: table;
	 width: 100%;
	 border-collapse: separate;
	 border-bottom: 1px solid #000;
}
 .input-group.minimal .input-group-btn {
	 display: table-cell;
	 margin: 0;
	 vertical-align: middle;
	 text-align: right;
	 width: 60px;
}
 .input-group.minimal input {
	 width: 100%;
	 background-color: transparent;
	 border-color: transparent;
	 display: table-cell;
	 height: 40px;
	 margin: 0;
	 vertical-align: top;
	 padding-left: 0px;
	 line-height: 1;
	 box-shadow: none;
	 transition: none;
	 color: #000;
}
 .input-group.minimal .btn {
	 text-align: center;
	 width: 100%;
}
 button {
	 vertical-align: middle;
}
 button:focus {
	 outline: none;
}
 
