.article-recommendations {
	border-top: 1px solid #ececec;
	padding-top: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
	.article-recommendations {
		padding-top: 60px;
		margin-top: 60px;
 }
}
.article-recommendations h2 {
	text-transform: initial;
}
.article-recommendations .main-carousel .carousel-cell {
	width: 33.3333%;
}
@media screen and (min-width: 1024px) {
	.article-recommendations .main-carousel .carousel-cell {
		width: 20%;
 }
}
@media screen and (max-width: 639px) {
	.article-recommendations .main-carousel .carousel-cell {
		width: 50%;
 }
}
.article-recommendations img {
	margin-bottom: 15px;
}
.article-recommendations .article-category {
	margin-top: 15px;
}
.article-recommendations h4.h2 {
	text-transform: initial;
	font-size: 1.8rem;
	line-height: 1.2;
	margin-top: 10px;
}
.article-recommendations .article-subtitle {
	margin-top: 15px;
	font-size: 1.1rem;
}
